
body {
	background-color: #0053d40a;
}

.heading {
	width: 100%;
    text-align: center;
    font-size: 45px;
    display: block;
}

.subtitle {
	text-align: center;
}


.message_test button {
	width : 100%;
}

button {
    background-color: deepskyblue;
    height: 35px;
    border-radius: 5px;
    border-style: solid;
    border-color: #1e3d4687;
    margin: 3px;
    border-width: 1px;
    width: 100%;
}

input {

    width: 100%;
    border-radius: 3px;
    border-style: solid;

}

/*==========================================================
                        FOOTER
==========================================================*/

/*
    This is css for the footer, you can change it here, but you may also have to modify the JS footer functions in JS_module
*/ 

.footer {
    background-color:  #1192c2;
    display: block;
    transition: all 0.5s linear;
    position: fixed;        
    bottom:0;
    left:0;
    width : 100%;
    height: 25%;
}

#pep_says {
    width : 100%;
    text-align: center;
    font-size: 30px;
}

/*==========================================================
						INDEX
==========================================================*/

.message_test {
	margin-left: 30%;
    margin-right: 30%;
    margin-top: 16%;
    margin-bottom: 15%; 
}

.message_test button {
	width : 100%;
}

.navigation {
	margin-left: 10%;
	margin-right: 10%; 
}
.navigation button {
	width: 48%;
	height: 59px;
}

#display_area {
	text-align: center;
}


/*==========================================================
						CONTENT PAGE
==========================================================*/

.message_test {
	margin-left: 30%;
    margin-right: 30%;
    margin-top: 16%;
    margin-bottom: 15%; 
}

.buttons {
	margin: 10%;
	padding-top: 10%;
	padding-left: 20%;
	padding-right: 20%;
}

